container_commands:
    01-migrations:
        command: "php artisan migrate --force"
        cwd: "/var/app/ondeck"
        leader_only: true
    02-cache:
        command: "php artisan cache:clear"
        cwd: "/var/app/ondeck"
    03-optimize:
        command: "php artisan optimize --force"
        cwd: "/var/app/ondeck"
    04-permissions:
        # fix permission on the Laravel app folder
        command: "chmod 777 -R /var/app/ondeck"
        cwd: "/var/app/ondeck"
